<form [formGroup]="form" (ngSubmit)="addNote()">
	<div class="row" [class.error]="!form.controls.title.valid && form.controls.title.touched && form.controls.title.value !== ''">
		<input formControlName="title" #title type="text" id="title" [placeholder]="'title' | translate" autocomplete="off" autofocus>

		<p class="text-error" *ngIf="form.controls.title.hasError('minlength') && this.form.controls.title.touched">
			{{ 'minLength' | translate }}: {{ formValidation.titleMinLength }}
		</p>

		<p class="text-error" *ngIf="form.controls.title.hasError('maxlength') && this.form.controls.title.touched">
			{{ 'maxLength' | translate }}: {{ formValidation.titleMaxLength }}
		</p>
	</div>

	<div class="row" [class.error]="chars < 0">
		<div class="textarea">
			<textarea formControlName="description" #description id="description" [placeholder]="'description' | translate" (keyup)="checkLength($event.target.value)"></textarea>
		</div>
	</div>

	<div class="cols">
		<p class="remaining">
			{{ 'remaining' | translate }}:

			<span [class.red]="chars < 0">{{ chars }}</span>
		</p>

		<button type="submit" [disabled]="!form.valid">
			<template [ngIf]="!edit">{{ 'add' | translate }}</template>

			<template [ngIf]="edit">{{ 'edit' | translate }}</template>
		</button>
	</div>
</form>
