@import '../../variables';

:host {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row {
  position: relative;

  &:first-of-type {
    border-bottom: 1px solid $gray;
  }

  &:nth-of-type(2) {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}

.textarea {
  display: flex;
  height: 100%;
  line-height: 0;
}

input,
textarea {
  background-color: transparent;
  box-sizing: border-box;
  font-family: $font-main;
  outline: 0;
  padding: 2rem;
  width: 100%;
}

input {
  font-size: 1.4rem;
}

textarea {
  height: 100%;
  resize: none;
}

p {
  align-items: center;
  display: flex;
  font-size: .8rem;
  height: 2rem;
  justify-content: flex-end;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  pointer-events: none;
  user-select: none;
}

.text-error {
  bottom: 0;
  color: $red-2;
  left: 0;
  position: absolute;
  right: 0;
}

.error {
  input,
  textarea {
    background-color: $red-light;
    color: $red-2;
    outline: 0;
  }
}

.remaining {
  span {
    margin-left: .3rem;
  }
}

.red {
  color: $red;
}

button {
  background-color: $green;
  color: white;
  height: 3rem;
  margin-left: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  transition: background-color $d, transform $d;
  width: 100%;

  &[disabled] {
    cursor: not-allowed;
    opacity: .6;
  }

  &:not([disabled]) {
    &:hover {
      background-color: darken($green, 5%)
    }

    &:focus {
      background-color: darken($green, 10%)
    }

    &:active {
      transform: scale(1.1);
    }
  }
}

@media #{$mobile} {
  .cols {
    display: flex;
  }

  .remaining {
    height: 3rem;
  }

  button {
    margin-right: 2rem;
    width: auto;
  }
}

@media #{$tablet} {
  button {
    margin-right: 0;
  }
}
