<nav>
	<div class="container">
		<a routerLink="/" class="logo">Notes <small>+ {{ 'create-new' | translate }}</small></a>

		<ul>
			<li [class.active]="translate.currentLang === 'en'">
				<button (click)="set('en')">EN</button>
			</li>

			<li [class.active]="translate.currentLang === 'cs'">
				<button (click)="set('cs')">CZ</button>
			</li>
		</ul>
	</div>
</nav>
