@import '../../variables';

:host {
  background-color: $pink;
  height: $nav-height;
  left: $site-padding;
  position: fixed;
  right: $site-padding;
  top: $site-padding;
  z-index: 100;
}

nav {
  display: flex;
  height: $nav-height;
}

.container {
  flex-direction: row;
  justify-content: space-between;
  padding-left: $site-padding;
  padding-right: $site-padding;
}

.logo {
  align-items: center;
  box-sizing: border-box;
  color: $white;
  display: flex;
  font-family: $font-misc;
  font-size: $nav-height - 1.1;
  line-height: 1;
  padding-top: .3rem;
  transition: opacity $d;

  &:hover {
    opacity: .8;
  }

  small {
    display: none;
  }
}

ul {
  display: flex;
  font-size: .8rem;
  margin-bottom: 0;
  margin-right: -$site-padding;
  margin-top: 0;
  padding-left: 0;
}

li {
  display: flex;
  list-style: none;
}

button {
  color: $white;
  min-height: 100%;
  opacity: .6;
  padding-left: $site-padding;
  padding-right: $site-padding;
  transition: opacity $d;

  &:hover {
    opacity: 1;
  }
}

.active {
  button {
    opacity: 1;
    text-decoration: underline;
  }
}

@media #{$tablet} {
  .logo {
    small {
      display: block;
      font-family: $font-main;
      font-size: .4em;
      margin-left: .8em;
    }
  }
}
