@import '../../variables';

:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

aside {
  margin-top: 2rem;
  width: 100%;
}

h1 {
  background-color: $red-dark;
  color: $white;
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
  padding: .6rem $site-padding;
  user-select: none;
}

@media #{$tablet} {
  :host {
    flex-direction: row;
  }

  aside {
    background-color: $white;
    flex-shrink: 0;
    height: calc(100vh - 2rem - #{$nav-height});
    margin-top: 0;
    max-width: $mobileSmallSize;
    order: -1;
    overflow: auto;
    z-index: 10;
  }
}

@media #{$desktop} {
  aside {
    max-width: $mobileSize;
  }
}
