<app-note-create></app-note-create>

<aside *ngIf="(notes | async)?.length > 0 || (notesCompleted | async)?.length > 0">
	<template [ngIf]="(notes | async)?.length > 0">
		<h1>{{ 'list' | translate }}</h1>

		<app-note-list-item *ngFor="let note of notes | async" [note]="note" class="list"></app-note-list-item>
	</template>

	<template [ngIf]="(notesCompleted | async)?.length > 0">
		<h1>{{ 'completed' | translate }}</h1>

		<app-note-list-item *ngFor="let note of notesCompleted | async" [note]="note" class="list"></app-note-list-item>
	</template>
</aside>
