@import '../variables';

:host {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  margin: $site-padding;
  padding-top: $nav-height;
  width: 100%;
}

@media #{$tablet} {
  .container {
    flex-direction: row;
    height: calc(100vh - 2rem - #{$nav-height});
  }
}
