// colors
$gray:                                                #f0f0f0;
$gray-dark:                                              #666;
$gray-2:                                              #f9f9f9;
$green:                                               #00B8A9;
$pink:                                                #f6416c;
$pink-dark:                                           #ab1b3a;
$red:                                                 #d20000;
$red-2:                                               #ff5b5b;
$red-dark:                                            #3a2525;
$red-light:                                           #fff2f2;
$white:                                                  #fff;
$yellow:                                              #f8fae4;

// icons colors
$icon-blue:                                           #006fd2;
$icon-gray:                                           #616161;
$icon-green:                                          #58bb00;
$icon-red:                                               $red;

// sizes
$nav-height:                                             4rem;
$site-padding:                                           1rem;

// breakpoints
$mobileSmallSize:                                       320px;
$mobileSize:                                            480px;
$tabletSize:                                            768px;
$desktopSize:                                          1024px;

$mobileDown:            'screen and (max-width: $mobileSize)';

$mobile:                'screen and (min-width: $mobileSize)';
$tablet:                'screen and (min-width: $tabletSize)';
$desktop:              'screen and (min-width: $desktopSize)';

// fonts
$font-main:                               'Amiko', sans-serif;
$font-misc:                                  'Baloo', cursive;

// durations
$d:                                                       .2s;
$d2:                                                       1s;
