@import url('https://fonts.googleapis.com/css?family=Amiko|Baloo&subset=latin-ext');

@import 'variables';

html,
body {
  min-height: 100vh;

  &::before,
  &::after {
    background-color: $gray;
    content: '';
    position: fixed;
    z-index: 150;
  }

  &::before {
    bottom: 0;
  }

  &::after {
    right: 0;
  }
}

html {
  // font-range: 480px 1024px;
  // font-size: responsive 14px 20px;
  font-size: calc(14px + 6 * ((100vw - 480px) / 544));

  &::before,
  &::after {
    bottom: 0;
    right: 0;
  }

  &::before {
    top: 0;
    width: 1em;
  }

  &::after {
    height: 1em;
    left: 0;
  }
}

body {
  background-color: $white;
  display: flex;
  font-family: $font-main;

  &::before,
  &::after {
    left: 0;
    top: 0;
  }

  &::before {
    width: $site-padding;
  }

  &::after {
    height: $site-padding;
  }

  &.overflow {
    overflow: hidden;
  }
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  user-select: none;
}

button {
  user-select: none;
}

.btn {
  height: 100%;
  opacity: .8;
  padding-left: .6em;
  padding-right: .6em;
  position: relative;
  transition: opacity $d;
  user-select: none;

  &:hover {
    opacity: 1;
    z-index: 2;

    &::before,
    &::after {
      opacity: 1;
    }
  }

  &::before,
  &::after {
    background-color: $gray-dark;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: calc(100% + .4rem);
  }

  &::before {
    color: $white;
    content: attr(data-title);
    font-size: .8em;
    padding: .6rem;
    right: 0;
    z-index: 10;
  }

  &::after {
    content: '';
    height: 1em;
    right: .35em;
    transform-origin: 0 25%;
    transform: rotate(45deg) translate(-25%, -50%);
    width: 1em;
    z-index: 9;
  }
}

.fa-check {
  color: $icon-green;
}

.fa-pencil {
  color: $icon-gray;
}

.fa-remove {
  color: $icon-red;
}

.fa-undo {
  color: $icon-blue;
}

@media #{$mobileDown} {
  html {
    font-size: 14px;
  }
}

@media #{$tablet} {
  body {
    overflow: hidden;

    &.overflow {
      overflow: hidden;
    }
  }

  .btn {
    &::before,
    &::after {
      top: 100%;
    }
  }
}

@media #{$desktop} {
  html {
    font-size: 20px;
  }
}
