@import '../../variables';

:host {
  display: block;

  &:nth-of-type(odd) {
    background-color: $gray-2;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: .6;
  padding: $site-padding;
  position: relative;
  transition: opacity $d;
  width: 100%;

  &:hover {
    opacity: 1;
    z-index: 2;

    ul {
      opacity: 1;
    }
  }

  &.active {
    background-color: rgba($green, .2);
    opacity: 1;

    ul {
      opacity: 1;
    }
  }
}

.overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.content {
  display: flex;
  flex: 2;
  flex-direction: column;
  word-break: break-all;
}

h2 {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

small {
  font-size: .5em;
}

ul {
  display: flex;
  flex: 1;
  margin-bottom: 0;
  margin-left: auto;
  margin-top: $site-padding;
  max-width: 240px;
  opacity: 0;
  padding-left: 0;
  position: relative;
  transition: opacity $d;
  z-index: 3;
}

li {
  flex: 1;
  list-style: none;
  text-align: center;
}

@media #{$tablet} {
  .wrapper {
    flex-direction: row;
  }

  ul {
    margin-left: ($site-padding * 2);
    margin-top: 0;
    max-width: 100%;
  }
}
