<div class="wrapper" [routerLinkActive]="['active']">
	<a [routerLink]="note.id" class="overlay"></a>

	<div class="content">
		<h2>{{ note.title }}</h2>

		<small>{{ note.created_at | formatDate }}</small>
	</div>

	<ul>
		<li>
			<button class="btn" (click)="noteService.changeState(true, note.id)" *ngIf="!note.completed" [attr.data-title]="'done' | translate">
				<i class="fa fa-check"></i>
			</button>

			<button class="btn" (click)="noteService.changeState(false, note.id)" *ngIf="note.completed" [attr.data-title]="'restore' | translate">
				<i class="fa fa-undo"></i>
			</button>
		</li>

		<li>
			<button class="btn" (click)="noteService.editNoteToggle(note.id)" [attr.data-title]="'edit' | translate">
				<i class="fa fa-pencil"></i>
			</button>
		</li>

		<li>
			<button class="btn" (click)="noteService.removeNote(note.id)" [attr.data-title]="'remove' | translate">
				<i class="fa fa-remove"></i>
			</button>
		</li>
	</ul>
</div>
