<template [ngIf]="((note | async) | json) !== '{}'">
	<a routerLink="/" class="back"><i class="fa fa-angle-left"></i> <span>{{ 'go-back' | translate }}</span></a>

	<template [ngIf]="!noteService.edit">
		<h2>
			{{ (note | async)?.title }}

			<ul>
				<li>
					<button class="btn" (click)="noteService.changeState(true)" *ngIf="!(note | async)?.completed" [attr.data-title]="'done' | translate">
						<i class="fa fa-check"></i>
					</button>

					<button class="btn" (click)="noteService.changeState(false)" *ngIf="(note | async)?.completed" [attr.data-title]="'restore' | translate">
						<i class="fa fa-undo"></i>
					</button>
				</li>

				<li>
					<button class="btn" (click)="noteService.editNoteToggle()" [attr.data-title]="'edit' | translate">
						<i class="fa fa-pencil"></i>
					</button>
				</li>

				<li>
					<button class="btn" (click)="noteService.removeNote()" [attr.data-title]="'remove' | translate">
						<i class="fa fa-remove"></i>
					</button>
				</li>
			</ul>
		</h2>

		<div class="content">{{ (note | async)?.description }}</div>

		<small>{{ (note | async)?.created_at | formatDate }}</small>
	</template>

	<app-note-create *ngIf="noteService.edit" [edit]="true"></app-note-create>
</template>
