@import '../../variables';

:host {
  background-color: $yellow;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 160;
}

h2 {
  border-bottom: 1px solid $gray;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  font-size: 1.4em;
  font-weight: 400;
  justify-content: space-between;
  line-height: normal;
  margin-bottom: -1px;
  margin-top: 0;
  padding: 2rem;
  word-break: break-all;
}

small {
  align-items: center;
  display: flex;
  font-size: .8rem;
  height: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

ul {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin: -2rem -2rem -2rem $site-padding;
  padding-left: 0;
  right: 0;
  top: 0;
  white-space: nowrap;
}

li {
  flex: 1;
  list-style: none;
  text-align: center;
}

.btn {
  &::before,
  &::after {
    top: 50%;
  }

  &::before {
    right: 100%;
    transform: translateY(-50%);
  }

  &::after {
    left: 0;
    right: auto;
    transform: rotate(45deg) translate(-125%, 0%);
    transform-origin: 0 75%;
  }
}

.content {
  flex: 1;
  overflow: auto;
  padding: 2rem;
  white-space: pre-wrap;
  word-break: break-all;
}

.back {
  color: $pink;
  height: 2rem;
  line-height: 2rem;
  padding-left: .6rem;
  padding-right: .6rem;
  position: absolute;
  top: 0;
  transition: opacity $d;

  &:hover {
    opacity: .6;
  }
}

@media #{$tablet} {
  :host {
    bottom: auto;
    height: calc(100vh - 2rem - #{$nav-height});
    left: calc(#{$mobileSmallSize} + 1rem);
    overflow: auto;
    position: absolute;
    right: 1rem;
    top: auto;
    z-index: 110;
  }

  .back {
    top: 50%;
    transform: rotate(180deg) translateY(-50%);

    span {
      display: none;
    }
  }
}

@media #{$desktop} {
  :host {
    left: calc(#{$mobileSize} + 1rem);
  }
}
